#root {
  text-align: center;
  max-width: 3000px;

}
.video-main-container{
  width: 80%;
  height: 500px;
}
.galerie-title{
  font-size: 30px;
  padding-bottom: 30px;
}

.Galerie h1{
  padding-top: 100px;
}

.video{
  border: 1px solid black;
  border-radius: 5px;
}
.video video{
  width: 100%;
  object-fit: cover;
  
}

.Galerie{
  width: 100%;
  height: auto;
  margin-top: 0px;
  position: relative;
  padding: 0px;
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
}

.galerie-main-container{
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

 .RModalImages{
  -webkit-filter: brightness(80%);

}
.RModalImages:hover{
  -webkit-filter: brightness(100%);
  transition: 0.5s ease-in-out;

}

.galer-container img{
  object-fit: cover;
  width: 50%;
  height: auto;
}
.RennkalenderH1{
  padding: 30px;
}

.Rennkalender{
  padding-bottom: 50px;
  z-index: 100;
}

.rennkaldender-main-container {
  width: 80%;
}
.contact-mui{
  padding-top: 5px;
  display: flex;
  justify-content: left;
}


/* General styling */
.Resultate {
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-color: #171738;
  padding-bottom: 50px;
}

.resultate-container h1 {
  font-size: 40px;
}

.resultate-container-header-title {
  display: flex;
  padding-left: 10px;
  font-size: 40px;
  color: white;
}
.resultate-container-header-title h1{
  font-size: 50px;
}

.Box-icon {
  align-items: center;
  margin-left: auto;
  display: flex;
  justify-content: top;
  color: white;
}

.resultate-container-header {
  width: auto;
  display: flex;
  border-radius: 10px;
  padding: 10px;
 /* Light gray border at the top */
}

.resultate-title {
  padding-bottom: 60px;
  color: white;
}

.resultate-main-container {
  width: 70%; /* Set to 70% width */
  margin: 0 auto; /* Center the container */
  display: grid;
  padding: 20px;
  grid-gap: 15%;
  grid-template-columns: 1fr 1fr;
  max-width: 2000px;
}

.resultate-container {
  width: 100%;
  height: fit-content;
  border-top: 3px solid #ddd;
  overflow: hidden; /* Hide overflow from border-top */
}

.resultate-container h1 {
  position: inherit;
}

.resultate-content {
  padding-left: 30px;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.0s ease-out;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 8px;
  text-align: left;
  padding-left: 30px;
  margin: 0;
}

.resultate-content.show {
  max-height: 500px;
  padding: 15px;
  padding-left: 30px;
}

.resultate-content h4 {
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: 500;
}

.resultate-content.show h4 {
  font-size: 20px;
}


/*Hier startet der Sponsoren Slider*/

/*Slider für die IMG anfang seite */
.img-slider{
  width: 100%;
  position: relative;
  height: 100vh;
  margin: 0;
  

}
.img-container{
width: 100%;
position: relative;
height: auto;
margin: 0;


}
.img-container-title{
  display: flex;
  justify-content: center;
  font-size: 120px;
  margin-top: -15%;
  margin-bottom: 10%;
  color: #247BA0;
}

.img-container img{
  height: 110vh;
  width: 100%;
  object-fit: cover;
  
 
  
}
.text-container {
  position: absolute;
  top: 18%;
  left: 50%; /* Adjust left property as needed to center text horizontally */
  transform: translateX(-50%); /* Center text horizontally */
  text-align: center; /* Optional: Align text within the container */
}

.text-container p {
  font-size: 70px;
  white-space: nowrap;
  font-weight: 700; /* Adjust the font size as needed */
 /* Add any additional styling as needed */
}
.img-container-slider{

}

.img-container-slider .rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 5%;
  font-size: 45px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.img-container-slider .leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 5%;
  font-size: 45px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.slide-container {
  width:  700px;
  position: relative;
  height: auto;
  margin: 0 auto;
  padding-bottom: 150px;
}

.slider {
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 2.8/1.3;
}
.teamsponsoren {
  background-color: white;
}

.teamsponsoren .rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -100px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.teamsponsoren .leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -100px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}
.arrows{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}
.leftArrow, .rightArrow{
  cursor: pointer;
}
.no-arrows .arrows{
  visibility: hidden;
}


.slider {
  position: relative;
  height: 100%;
}
.start-slider{
  position: relative;
  height: 100%;
}

.dotsContainer {
  padding-top: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active{
  background-color: black;
}

/*****Ende des Sponsorensliders **************/

.contact-titles h1,
.contact-text h2,
.contact-titles h2 {
  color: #00bcd4; /* Cyan color */
}
.contact-titles h1 {
  padding-top: 3%;
  color: #466362;
  font-size: 60px;
}
.contact-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  

}

.contact-text h2{
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.contact-titles h2 {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.Contact {
  background-color: #f8f8f8;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact-formular-container{
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container {
  height: auto;
  max-width: 1900px;
  max-height: 2000px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242; /* Another shade of dark background color */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Box shadow for a futuristic touch */
  padding: 25px;
}

.contact-container div {
  display: flex;
  width: 100%;
  flex-direction: column;

}

.contact-container form {
  height: auto;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

}

input, textarea{
  height: 50px;
  width: 100%;
  text-indent: 10px;
  border: none;
  border-radius: 5px;
  background-color: #303030; /* Dark background color */
  color: #ffffff; /* White text color */
  font-size: 16px;


}

textarea {
  height: 90px;
  resize: none;

}
input[type="submit"] {
  height: 50px;
  width: 100%;
  text-indent: 0;
  margin-top: auto;
  border-radius: 8px;
  background-color: #3a606e; /* Cyan color */
  color: #ffffff; /* White text color */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  transition: all 0.6s ease-in-out;
  background-color: #0097a7; /* Darker cyan color on hover */
}

h3 {
  font-weight: 600;
}
.container-sponsoren{
  margin: 0 auto;
}

.sponsoren-container {
  box-sizing: border-box;
  /*background-color: black;*/
  width: auto;
  max-width: 800px;
  padding: 3%;
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  /*border: 1px solid white;*/
  border-radius: 10px;
  overflow: hidden; /* Ensure content doesn't overflow the container */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */

  /* Add shadow for a lifted effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.sponsoren-container:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.Sponsoren {
  background-color: white;
  display: grid;
  width: 100%;
  max-width: 100%;
  height: auto;
  /*align-items: center;*/
}

.Sponsoren h1 {
  background-color: #2c3e50;
  color: white;
  padding-top: 50px;
  margin: 0;
}

.teamsponsoren h1{
  padding-top:40px;
  font-size: 60px;
  padding-bottom: 30px;
}

.sponsoren-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
  text-align-last: left;
  align-items: center;
  padding-top: 10px;
  font-size: 22px;
  hyphens: auto;
}


.sponsoren-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8%;
  padding: 5%;
  /*background-color: #22577a;*/
  background-color: #2c3e50;
  max-width: 100%;
  height: auto;
  padding-bottom: 10%;
 
}


.sponsoren-img img {
  padding: 10px;
  object-fit: contain;
  width: 100%;
  aspect-ratio: 8/2.3;
  

}
.sponsoren-img{
  border-bottom: 1px solid #ddd;
}
.Home-h1{
  display: flex;
  justify-content: center;
  padding-top: 50vh;
}.footer-container {
  text-align: center;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  width: 100%;
  text-align: center;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  font-size: 14px;
  margin-bottom: 5px;
}

.icon-container {
  margin-top: 10px;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img img {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}




.Steckbrief {
  text-align: left;
}


.joe h1 {
  padding-top: -10px;
  margin-bottom: 0;
  background-color: white;
  color: #0d324d;
}

.about-container {
  background-color: white;
  padding-top: 30px;
  color: #0d324d;
  padding-bottom: 0px;
 

}
.about-vorschau-container {
  background-color: white;
  padding-top: 30px;
  color: #0d324d;
  padding-bottom: 0px;

}

.AboutMe-container {
  margin-top: 0;
  background-color: white;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;


}
.AboutMe-vorschau-container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  width: 85%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.AboutMe-vorschau2-container {
  margin-top: 0;
  margin-left: auto;

  padding-bottom: 60px;
  width: 85%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}



.AboutMe-Text {
  flex: 1; /* This will make the text take up all available space */
  text-align: center; /* Adjust text alignment as needed */
}

h1 {
  margin-top: 0;
}

.AboutMe-Text {
  color: #0d324d;
  width: 60%;
  padding: 20px;
}
.AboutMe-vorschau-Text {
  color: #0d324d;
  width: 35%;
  position: inherit;
  margin: 3%;
  border-radius: 5px;
  padding: 20px;
}

.AboutMe-description {
  text-align: justify;
  padding-top: 20px;
  font-size: 20px;
}

.AboutMe-title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;

}

.AboutMe-img {
  justify-content: right;
  display: flex;
  object-fit: cover;
  width: auto;
  height: 60vh;
  aspect-ratio: 3/4;
  border-radius: 5px;
  margin-bottom: 10px;

}

.AboutMe-img img {
  transition: 'margin-left 0.5s ease';
  border-radius: 4px;
  width: 100%;


}
.slide-in{

}
.AboutMe-button {
  color: black;
  width: auto;
  margin-top: 10%;
  padding: 3%;
  background-color: #3b2c35;
}
.AboutMe-button a{
  margin: 0;
}

/*ADDED CSSS BY ME
.img-container img {
  display: flex;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/0.5345;
  object-position: top center;
}*/

.rennberichte-main-container {
  padding: 10px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  

}

.Rennberichte {
  background-color: #dbe4ee;
  color: white;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  height: calc(100vh - 100%);
  overflow: hidden;

}
.SingleRennbericht {
  overflow-x: hidden;
  background-color:white ;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 50px;
  height: calc(100vh - 100%);

}






.Rennberichte h1 {
  color: black;
  padding-top: 50px;
}
.SingleRennbericht .rennberichte-container{
  width: 100%;

  
}
.aws-sld {
  &--exit {
    &.aws-sld--moveRight, &.aws-sld--moveLeft {
      animation: scaleOut var(--slider-transition-duration) both
        var(--transition-bezier);
    }
  }
}

@keyframes scaleOut {
  to {
    transform: scale(0.85);
  }
}

.SingleRennbericht .rennberichte-main-container{
  padding: 10px;
  grid-template-columns: 1fr;
  width: 100%;
}

.SingleRennbericht .rennberichte-text{
  padding-top: 50px;
  width: 80%;
  padding: 10% 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.SingleRennbericht .rennberichte-subtitle{
  
  padding: 7px;
  padding-bottom: 30px;
  font-size: 25px;
  display: flex;
  text-align: justify;
  width: 100%;
}
.rennberichte-date{
  padding-top: 50px;
  padding-left: 7px;
  padding-bottom: 30px;
  text-align: left;
}

.SingleRennbericht .rennberichte-title{
  padding: 7px;
  text-align: left;
  font-size: 50px;
  padding-bottom: 30px;
}


.rennberichte-img-container{
  display:grid;
  grid-gap: 1%;
  padding: 20px;
  grid-template-columns: 1fr;
  position: relative;
  width: 65%;
  padding-bottom: 20px;
}

.rennberichte-img-container .single-rennberichte-img{
  object-fit: cover;
  width: 100%; 
  aspect-ratio: 13/10;
  max-height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
  transition: transform 0.3s ease-in-out; /* Added transition for a smoother hover effect */

  /* Hover effect for a subtle interaction */
  &:hover {
    transform: scale(1.05);
  }
}

.sponsors-banner-main-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  /*background-color: #0a2239; /* Light gray background color */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  width: 60%;
  padding: 20px;
  border-radius: 5px;
}

.sponsors-banner-container {
  width: 100%;
  text-align: center;
  padding: 0;
}

.sponsor-logo {
  max-width: 100%;
  max-height: 200px; /* Adjust the maximum width of your sponsor logos */
  display: block;
  margin: 0 auto; /* Center the logos */
  transition: transform 0.3s ease-in-out; /* Add a smooth hover effect */
}
.sponsors-banner-container img{
  width: 60%;
  
}


/* Adjust the styling for the carousel container */
/* Adjust the styling for the carousel container */
.carousel-main-container {
  position: relative;
  width: 70%;
  height: auto; /* Adjust the height as needed */
  overflow: hidden;
  

}
.carousel.carousel-slider{
  
}
.carousel .slider-wrapper{
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 15/10;

}

.carousel.carousel-slider .control-arrow{
  height: auto;
  width: 10%;

}

.carousel-main-container .single-rennberichte-img {
  object-fit: cover;
  aspect-ratio: 15/10;
  height: auto;
  /* Hover effect for a subtle interaction */
  &:hover {
    transform: scale(1.05);
  }
}

.rennberichte-container:hover{
  -webkit-filter: brightness(100%);
  transition: 0.6s ease-in-out;
  
}

.rennberichte-container {
  -webkit-filter: brightness(90%);
  transition: 0.6s ease-in-out;
  color: white;
  padding: auto;
  height: 100%;
  color: black;
  

}

.rennberichte-container-hover{ 
  position: relative;
  display: flex;
  justify-content: center;
  padding: auto;
  width: 380px;
  /*width: 400px;*/
  border-radius: 5px;
  height: 100%;
 
  
}
.rennberichte-container-hover:hover {
  -webkit-filter: brightness(100%);
}



.rennberichte-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 10/10;
  border-radius: 2px;
}

.rennberichte-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;

}
.rennbericht-title{
  font-size: 30px;
  color: black;
  padding-bottom: 15px;
}
.rennbericht-subtitle{
  font-size: 20px;
  padding: 10px;
  color:black;
}


.rennberichte-subtitle {
  padding: 7px;
  font-size: 18px;
  display: flex;
  
  align-items: center;
}
.navigation-menu li {
  /* Removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 2rem;
}

.navigation-menu li a {
  position: relative; /* Position relative for pseudo-element */
  color: black; /* Set default text color */
  text-decoration: none; /* Remove underline */
}


.navigation-menu li a.active {
 /* Full width */
  color: #2642af; /* Color of the underline */
}

.navigation {
  z-index: 100;
  height: 100px;
  width: 100%;
  max-width: calc(3000px);
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: white;
  color: white;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

}

.navigation-dark {
  background-color: black;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}


.brand-name {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 600;
  margin-top: 0;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation img {
  width: 70%;
}

.navigation-menu li a {
  font-size: 25px;
  color: black;
  text-decoration: inherit;
}


.hamburger {
  /*// removes default border on button element*/
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /*// positions the icon to the right and center aligns it vertically*/
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

.InstagramEmbeded {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /*position: relative;*/
  padding: 40px;

}
.InstagramEmbededItem {
  height: 100%;
  border: 1px solid black;
  height: fit-content;/* Adjust the height as needed */
  width: 100%;
}

.page-title{
  font-size: 25px;
  color:black;
  
}
.instagram-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Set a background color */
}

/* Optionally, you can style the InstagramEmbed component */
.instagram-post-container .instagram-media {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}/* Your existing styles remain unchanged */
/* Additional styles for enhanced design */
.gönner-container {
  margin: auto;

}
.Gönner{
  background-color: white;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.gönner-subtitle h2 {
  font-size: 30px;
  text-align: center;
  color:black;
}
.gönner-names-container{
  margin-bottom: 2%;
}
.gönner-content {
  background-color: #f7f7f7;
  margin: auto;
  width: 60%;
  max-width: 1000px;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

.gönner-img img {
  object-fit: cover;
  margin-bottom: 2%;
  aspect-ratio: 6/4;
  height: 50vh;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}


.gönner-text {
  background-color: #f7f7f7;
  color: black;
  margin: auto;
  width: 80%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 2%;
  text-align: center;
}

.gönner-bank-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10%;
  text-align: center;
}
.gönner-container .gönner-bank-container{
  margin-bottom: 50px;
}

.gönner-bank,
.gönner-twint {
  background-color: #f7f7f7;
  color:black;;
  border-radius: 8px;
  padding: 20px; /* Adjust the padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto; /* Make both containers equally large */
  
  
}


a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
  margin-top: 7px;
}



@media screen and (max-width: 2080px) {
  .navigation-menu li a{
    font-size: 20px;
  }
  .brand-name{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1580px) {
  .Box-icon{
    /*margin-left: auto;*/
  }
  .rennberichte-img-container .single-rennberichte-img{
    width: 80%;
  }
  .navigation-menu li {
    margin: 0 1rem;
  }

  .rennberichte-main-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;

  }
  .resultate-container-header-title h1{
    font-size: 50px;
  }
  .sponsoren-container{
    max-width: 100%;
  }

  .AboutMe-img {
    object-fit: cover;
    aspect-ratio: 3/4;
    width: 31%;
    height: auto;
    padding-left: 5px;
  }
  .resultate-main-container{
    width: 85%;
  }

}

@media screen and (max-width: 1308px) {
  .page-title{
    font-size: 20px;
    
  }
  .SingleRennbericht .rennberichte-title{
    font-size: 30px;
  }
  .SingleRennbericht .rennberichte-text{
    padding-top: 25px;
  }
  .SingleRennbericht {
    padding-top: 30px;
  }

  .rennberichte-img-container .single-rennberichte-img{
    width: 90%;
  }
  .Box-icon{
   /* padding-left: 60%;*/
  }
  .resultate-main-container{
    width: 80%;
  }
  .SingleRennbericht .rennberichte-subtitle,
  .rennberichte-subtitle{
    font-size: 22px;
  }
  .resultate-container-header-title h1{
    font-size: 25px;
  }
  .sponsoren-main-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .sponsoren-container{
    max-width: 85%;
  }
  .img-container img{
    height: calc(100vh - 100px);
  }
  input,
  textarea {
    height: 40px;
    width: 100%;
  }

  .contact-container label {
    padding-right: 20px;
  }

  .contact-container input[type="submit"] {
    width: 100%;
    column-span: all;
  }



  .hamburger {
    display: block;
    background-color: #2642af;
  }

  .Sponsoren {
    padding-top: 0px;
  }

  .AboutMe-title {
    font-size: 30px;
  }

  .AboutMe-description {
    font-size: 17px;
  }

  .AboutMe-button {
    width: auto;

  }
  
  .AboutMe-img {
    object-fit: cover;
    aspect-ratio: 3/4;
    width: 33.4%;
    height: auto;
    padding-left: 2%;

  }

  .about-container .AboutMe-Text{
    width: auto;
  }

  .AboutMe-Text {
    height: 90%;
    padding: 5px;
    margin: 0;
  }

  .rennberichte-main-container {
    grid-template-columns: 1fr 1fr;
    padding: 30px;

  }

  .navigation {
    position: relative;
   
  }

  .navigation-menu ul {
    /*// navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)*/
    position: absolute;
    top: 600px;
    left: 0;
    /*/ stacks the li tags vertically */
    flex-direction: column;
    /*// makes menu span full height and width3*/
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #2642af;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    /*// centers link text and strips off margin*/
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .navigation-menu li link {
    /*/// increases the surface area of the anchor tag to span the full width of the menu*/
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menuexpanded li Link{
    color: black;
  }
  .navigation-menuexpanded {
    z-index: -1;
    animation: slideInFromTop  0.6s ease-in-out;
    transition: all;
    position: absolute;
    font-size: 30px;
    top: 99%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

  }
  .navigation-menuexpanded a{
    color: black;
    display: flex;
    
  }

  body:has(.navigation-menuexpanded) {
    overflow: hidden;
  }

  .navigation-menuexpanded ul {
    justify-content: center;
  

  }

  .navigation-menuexpanded li {
    padding: 10px;
    


  }
  .img-slider{
    height: calc(100vh - 100px);
  }
}
@media screen and (max-width: 1200px){

  .Box-icon{
    /*padding-left: 85%;*/
  }
  .slide-container{
    width: 400px;
  }
  .resultate-main-container{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .galerie-title{
    font-size: 20px;
  }
  .page-title{
    font-size: 18px;
    
  }
  .SingleRennbericht {
    padding-top: 0px;
  }
  .SingleRennbericht .rennberichte-text{
    padding-top: 0px;
    width: 76%;
  }

  .slide-container{
    width: 300px;
  }
  .Box-icon{
    /*padding-left: 78%;*/
  }
  .teamsponsoren h1, .contact-titles h1
  {
    font-size: 30px;
  }
  .AboutMe-vorschau-container{
    flex-wrap: wrap-reverse;
 
   }
   .AboutMe-vorschau2-container{
    flex-wrap: wrap-reverse;
    width: 90%;
    
 
   }
   .SingleRennbericht .rennberichte-subtitle,
   .rennberichte-subtitle{
    font-size: 18px;
   }
  .footer-content{
    display: grid;
    grid-template-columns: 1fr;
  }
 
  .footer-content, .footer-creater, .footer-telefon, .footer-email{
    font-size: 18px;
    text-align: center;

  }
  
  .footer-title {
    font-size: 20px;
  }
  .Steckbrief h3 {
    font-size: 12px;

  }
  .Steckbrief h1 {
    font-size: 2rem;

  }
  .AboutMe-title {
    font-size: 17px;
  }

  .AboutMe-description {
    font-size: 15px;
    padding-left: 0;
  }

  .AboutMe-button {
    width: 50%;
    padding: 2%;
  }
  .AboutMe-vorschau-Text{
    width: 100%;
  }


  .AboutMe-img {
    object-fit: cover;
    aspect-ratio: 3/4;
    width: 47%;
    height: auto;
    padding-left: 5px;

  }

  .AboutMe-Text {
    width: 110px;
    height: auto;
    padding: 5px;
    margin: 0;
  }

  .about-container .AboutMe-Text{
    width: 80%;
  }
  input {
    height: 40px;
    width: 100%
  }

  textarea {
    width: 100%;
    height: 40px;
  }
  .rennberichte-main-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .rennberichte-container{
    width: 400px;
  }

  .rennberichte-container.hover{
    width: 400px;
  }

  .sponsoren-name {
    font-size: 22px;
  }
  .sponsoren-img img{
    width: 70%;
  }

  .Sponsoren h1 {
    font-size: 40px;
  }


}

@media screen and (max-width: 540px) {
  .page-title{
    font-size: 15px;
    
  }
  .SingleRennbericht .rennberichte-subtitle, 
  .rennberichte-subtitle{
    font-size: 15px;
   }
  .resultate-container{
    width: 95%;
  }
  .Box-icon{
    /*padding-left: 63%;*/
  }
  .start-slider{
    width: 100%;
    
  }
  .slider{
    width: 100%;

  }
  .arrows {
    display: none;
  }
  .dotsContainer {
    padding: 0;
    
  }
  .sponsoren-name {
    font-size: 12px;
  }
  .sponsoren-img img{
    width: 40%;
  }
  .sponsoren-main-container{
    grid-gap: 10px;
  }

  .AboutMe-button{
    width: 80%;
  }
  .AboutMe-description{
    font-size: 18px;
  }
  .AboutMe-title{
    font-size: 20px;
  }

  .AboutMe-img {
    object-fit: cover;
    aspect-ratio: 3/4;
    width: 100%;
    height: auto;
    
  }

  .footer-content, .footer-creater, .footer-telefon, .footer-email{
    font-size: 15px;
  }
  .footer-title{
    font-size: 18px;
  }
  .brand-name {
    font-size: 16px;
  }
  .sponsoren-container{
    max-width: 90%;
  }
  .Steckbrief h3 {
    font-size: 10px;

  }
  .resultate-content.show h4{
    font-size: 13px;
  }
  .resultate-content h4{
    font-size: 13px;
  }

  .slide-container {
    width: 250px;

  }

  .leftArrow {
    top: 40%;
  }
  .rennberichte-container{
    width: 300px;
  }
  .rennberichte-container.hover{
    width: 300px;
    
  }
  .react-card-flip{
    width: 300px;
    height: 266px;
    
  }


.container {
  width: 100%;
  overflow-x: hidden;

}

}


body {
  position: absolute;
  overflow-x: hidden;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

/*
.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

main.dark {
  background-image: url("./images/react-icon-dark.png"); 
  background-color: #282D35;
  color: white;    
}*/

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}
/*@keyframes loadingBar {
  from { width: 0; } /* Starting width of the loading bar */
  to { width: 100%; } /* Ending width of the loading bar 
}*/